In [9]:
#importar as bibliotecas
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os
import csv

In [3]:
#link copiado com o botao direito, para copiar o link do download
#Define a url
url = "https://download.inep.gov.br/microdados/microdados_enem_2019.zip"

#Faz o download do conteudo e a faz a requisicao pro download
filebytes = BytesIO(
    requests.get(url).content
    ) 

#extrair o conteúdo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enem2019") #extrai tudo nessa pasta

In [2]:
#faz a leitura dos dados
#define o separado como ; e o separador das casas decimais como ,
enem1 = pd.read_csv(
    "./enem2019/DADOS/MICRODADOS_ENEM_2019.csv",
    sep = ";", 
    decimal = ".",
    encoding ='utf-8'
)

In [3]:
enem = enem1.loc[
    enem1.SG_UF_RESIDENCIA=='MG'
]

NameError: name 'enem1' is not defined

In [45]:
### salvando arquivo em csv - enem1.to_csv('teste_mg.csv', sep=';', decimal=',')

#enem = pd.read_csv('teste_mg.csv', sep=';', decimal =',', encoding = 'utf-8')

In [48]:
enem.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,4,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,...,B,A,A,B,A,A,C,B,B,B
1,14,190001237803,2019,3170206,Uberlândia,31,MG,30.0,F,1,...,A,A,A,B,A,A,B,A,A,A
2,25,190001237804,2019,3124104,Esmeraldas,31,MG,27.0,M,1,...,A,A,A,B,A,B,C,A,A,A
3,32,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,22.0,F,1,...,B,A,B,C,B,A,E,A,B,B
4,38,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,23.0,F,1,...,B,A,A,B,B,A,C,A,B,B

In [ ]:

enem['NU_IDADE'] = enem.NU_IDADE.astype('int')

In [20]:
enem.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,4,190001237802,2019,3118601,Contagem,31,MG,"22,0",F,1,...,B,A,A,B,A,A,C,B,B,B
1,14,190001237803,2019,3170206,Uberlândia,31,MG,"30,0",F,1,...,A,A,A,B,A,A,B,A,A,A
2,25,190001237804,2019,3124104,Esmeraldas,31,MG,"27,0",M,1,...,A,A,A,B,A,B,C,A,A,A
3,32,190001237805,2019,3118304,Conselheiro Lafaiete,31,MG,"22,0",F,1,...,B,A,B,C,B,A,E,A,B,B
4,38,190001237806,2019,3162922,São Joaquim de Bicas,31,MG,"23,0",F,1,...,B,A,A,B,B,A,C,A,B,B

In [ ]:
# 1
enem['NU_NOTA_MT'] = enem.NU_NOTA_MT.astype('float')
enem.mean()

In [ ]:
# 2 
enem['NU_NOTA_LC']=enem.NU_NOTA_LC.astype('float')
enem.NU_NOTA_LC.mean()

In [ ]:
# 3
enem['NU_NOTA_CH']=enem.NU_NOTA_CH.astype('float')
enem.loc[
    teste_mg.TP_SEXO == 'F',
    'NU_NOTA_CH'
].mean()

In [120]:
# 4
enem.loc[
    enem.TP_SEXO == 'M',
    'NU_NOTA_CH'
].mean()

582.1935483870968

In [ ]:
# 5
enem.loc[
    (enem.CO_MUNICIPIO_RESIDENCIA == 3143302) & (enem.TP_SEXO == 'F'),
    'NU_NOTA_MT'
].mean()

In [29]:
# 6
enem.loc[
    (enem.NO_MUNICIPIO_RESIDENCIA == 'Sabará') & (enem.Q021 == 'B'),
    'NU_NOTA_MT'
].mean()

In [ ]:
# 7
enem.loc[
    enem.Q016 == 'C',
    'NU_NOTA_CH'
].mean()

In [ ]:
# 8
enem.loc[
    enem.Q002 == 'G',
    'NU_NOTA_MT'
].mean()

In [ ]:
# 9
enem.loc[
    (enem.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') | (enem.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete'),
    'NU_NOTA_MT'
].mean()

In [ ]:
# 10
enem.loc[
    enem.Q005 == 1,
    "NU_NOTA_CH"
].mean()

In [ ]:
# 11
enem.loc[
    (enem.Q001 == 'G') & (enem.Q006 == 'M'),
    'NU_NOTA_CH'
].mean()

In [ ]:
# 12
enem.loc[enem
    (enem.TP_SEXO == 'F') & (enem.NO_MUNICIPIO_RESIDENCIA == 'Lavras') & (enem.TP_LINGUA == 1),
    'NU_NOTA_MT'
].mean()

In [ ]:
#13
enem.loc[
    (enem.TP_SEXO == 'M') & (enem.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'),
    'NU_NOTA_MT'
].mean()

In [ ]:
#14enem
enem.loc[
    (enem.IN_SURDEZ == 1),
    'NU_NOTA_CH'
].mean()

In [ ]:
#15
enem.loc[
    ((enem.TP_SEXO == 'F') & ((enem.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') | (enem.NO_MUNICIPIO_RESIDENCIA == 'Sabará') | 
    (enem.NO_MUNICIPIO_RESIDENCIA == 'Nova Lima') | (enem.NO_MUNICIPIO_RESIDENCIA == 'Betim'))) & (enem.IN_DISLEXIA == 1),
    'NU_NOTA_MT'
].mean()

In [ ]:
pd.to

# Respostas das questões do trabalho prático - Módulo 4
### salvando arquivo em csv - enem1.to_csv('teste_mg.csv', sep=';', decimal=',')
# 1 
teste_mg['NU_NOTA_MT'] = teste_mg.NU_NOTA_MT.astype('float')
teste_mg.mean()

# 2 
teste_mg['NU_NOTA_LC']=teste_mg.NU_NOTA_LC.astype('float')
teste_mg.NU_NOTA_LC.mean()

# 3
teste_mg['NU_NOTA_CH']=teste_mg.NU_NOTA_CH.astype('float')
teste_mg.loc[
    teste_mg.TP_SEXO == 'F',
    'NU_NOTA_CH'
].mean()

# 4
teste_mg.loc[
    teste_mg.TP_SEXO == 'M',
    'NU_NOTA_CH'
].mean()

# 5
teste_mg.loc[
    (teste_mg.CO_MUNICIPIO_RESIDENCIA == 3143302) & (teste_mg.TP_SEXO == 'F'),
    'NU_NOTA_MT'
].mean()

# 6
teste_mg.loc[
    (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Sabará') & (teste_mg.Q021 == 'B'),
    'NU_NOTA_MT'
].mean()

# 7
teste_mg.loc[
    teste_mg.Q016 == 'C',
    'NU_NOTA_CH'
].mean()

# 8
teste_mg.loc[
    teste_mg.Q002 == 'G',
    'NU_NOTA_MT'
].mean()

# 9
teste_mg.loc[
    (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') | (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete'),
    'NU_NOTA_MT'
].mean()

# 10
teste_mg.loc[
    teste_mg.Q005 == 1,
    "NU_NOTA_CH"
].mean()

# 11
teste_mg.loc[
    (teste_mg.Q001 == 'G') & (teste_mg.Q006 == 'M'),
    'NU_NOTA_CH'
].mean()

# 12
teste_mg.loc[
    (teste_mg.TP_SEXO == 'F') & (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Lavras') & (teste_mg.TP_LINGUA == 1),
    'NU_NOTA_MT'
].mean()

#13
teste_mg.loc[
    (teste_mg.TP_SEXO == 'M') & (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'),
    'NU_NOTA_MT'
].mean()

#14
teste_mg.loc[
    (teste_mg.IN_SURDEZ == 1),
    'NU_NOTA_CH'
].mean()

#15
teste_mg.loc[
    ((teste_mg.TP_SEXO == 'F') & ((teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Belo Horizonte') | (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Sabará') | 
    (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Nova Lima') | (teste_mg.NO_MUNICIPIO_RESIDENCIA == 'Betim'))) & (teste_mg.IN_DISLEXIA == 1),
    'NU_NOTA_MT'
].mean()

### teste pra conectar 
mysql+pymysql://user:pwd@host[:port]/database